
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFEBCC;
    color: black;
    background-image: url("./imagenes/fondo2.png");
}

nav {
    background-color: #FBFFE2;
    /*background-color: transparent;*/
    height: 85px;
    padding: 15px;
    box-shadow: 0px 13px 50px #FFAFAF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#nav {
    /*background-color: blueviolet;*/
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div>img {
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    
}

h1 {
    font-size: 2.5vw;
    text-align: center;
}

@media only screen and ( min-width: 360px){
    /*Estilos para el icono del menu*/
    .iconoMenu {
        margin: 40px 50px;
        position: relative;
        z-index: 10;
    }

    .iconoMenu img {
        vertical-align: top;
        width: 40px;
        cursor: pointer;
    }
    /*Estilos para el contenedor del menu*/
    .contMenuActive {
        background-color: #424242;
        box-shadow: 2px 0px 5px 2px #666666;
        width: 200px;
        height: 100vh;
        position: absolute;
        bottom: -100px;
        left: 0;
        transition: all .5s ease;
    }

    /*Estilos por agregar en JavaScript*/
    .active {
        transform: translate(-600px);
    }
    .opacity {
        background-color: black;
        transition: all .5s ease;
    }

    /*Estilos para el listado del menu*/
    .contMenuActive ul {
        padding: 100px 0px 20px 0px;
        list-style: none;  
    }

    .contMenuActive ul {
        color: white;
        display: block;
        font-size: 25px;
        text-decoration: none;
        padding: 10px 50px;
        cursor: pointer;
    }

    .contMenuActive ul li:hover {
        background-color: white;
        color: #424242;
    }
    
}

@media only screen and ( min-width: 768px){
    
}


@media only screen and ( min-width: 1024px){

    nav>ul {
        /*background-color: turquoise;*/
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    nav>ul>li {
        list-style: none;
        /*padding: 5px 10px;*/
        /*background-color: tomato;*/
        margin-right: 2rem;
    }

    nav>ul>li>a {
        text-decoration: none;
        font-size: 1.3vw;
        color: black;  
    }
    
    li:hover {
        border-bottom: 5px solid #FFAFAF;
        cursor: pointer;
        transition: all .1s linear;
    }
    
}




